<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHc1xxtM2BbRd43R5GOC2m0fEi5JAabwA</string>
	<key>GCM_SENDER_ID</key>
	<string>511757515096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mstudio.athlete-fitness</string>
	<key>PROJECT_ID</key>
	<string>athlete-75bbd</string>
	<key>STORAGE_BUCKET</key>
	<string>athlete-75bbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511757515096:ios:f313e93eadb5e5434b0d2d</string>
</dict>
</plist>